<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- css 링크를 먼저 header에 올려 놓는 것은 head가 실행 후에 body가 실행되기 때문에 백지 화면이 아닌 먼저화면이 나올 수 있게 추가한다. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>